@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  background-color: #000814;
}

.tweetBox {
  background-color: #001d3d;
  color: #e3e4db;
  padding: 5px;
  margin: 10px;
  width: 500px;
  height: 200px;
  border-radius: 15px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  text-overflow: ellipsis;
  position: relative;
}

.tweetBox a {
  text-decoration: none;
  color: #e3e4db;
}

.tweets {
  font-size: 0;
  text-align: center;
  vertical-align: top;
  justify-content: center;
  position: relative;
  top: 10px;
}

.fa-heart {
  color: grey;
}

.fa-retweet {
  color: grey;
  margin-left: 8px;
}
.liked {
  color: red;
}

.retweeted {
  color: lime;
  margin-left: 8px;
}

.interact {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-left: 10px;
}

.tweetpfp {
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.date {
  color: grey;
}

.image {
  position: absolute;
  width: 70px;
  height: 50px;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 70px;
  border-radius: 50px;
}

.header {
  text-align: center;
  height: 50px;
  width: 90%;
  display: table;
  margin: 0 auto;
  background-color: #003566;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 10px;
  position: relative;
  border-radius: 40px;
}

.profileinformation {
  position: relative;
  left: 9px;
  size: 12px;
  color: #e3e4db;
  float: left;
}

.pfp {
  border-radius: 50px;
  float: left;
}

.refreshButton {
  float: right;
  color: #e3e4db;
  size: 20px;
  background-color: #155ca2;
  padding: 10px;
  border-radius: 70px;
  position: relative;
  top: 5px;
  cursor: pointer;
}
